.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: transparent;
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
    margin: 10px;
    font: 16px Helvetica;
}
#canvas-container{
    height:400px;
}  

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#playground {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 800px;
    background-color: lightgray;
}
