body {
	background-color: skyblue;
}



.canvas{
	border:8px goldenrod solid;
    top:0px;
    bottom:0px;
    left: 0px;
    right: 0px;
	/* background-color: white; */
	position: absolute;
	margin-left: 70px;
	margin-top: 30px;
	border-width:10px;  
	border-style:ridge;
	background-color: transparent;
}

#canvas-combined {
    display: none;
}

#background {
	background-color: white;
}

body{
    overflow:hidden;
    margin: 10px;
    font: 16px Helvetica;
}
#canvas-container{
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	border:1px blue dotted;
}  

#bg-img {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

#background {
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
}

#paintFunctions {
    background-color: #96b0e0;
}

#colorPicker {
    background-color: #96b0e0;
}

#bgUpload {
    background-color: #96b0e0;
}

#flowControl {
    background-color: #fdec9f;
}

#interAct {
    background-color: #79b881;
}

/* KING-NEW */
#dialog-form,
#dialog-message,
#dialog-form-puzzle,
#dialog-message-puzzle,
#dialog-filetype {
    display: none;
}
/* KING-NEW */

/*Text settings styles*/
#textOptions {
	margin-bottom: 5px;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
}
#textFont {
	font-size: 12px;
}
.textSizeContainer{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#textInput{
	display: none;
	position: absolute;
	z-index: 5;
	background-color: transparent;
	background-image: none;
	border: 1px dotted gray;
}

#textTools {
    display: none;
}











/*-------------------Menu styles-------------------*/
#menu {
	position: relative;
	width: 50px;
	height: 100%;
	border-right: 1px solid black;
	background: linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	background: -webkit-linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	background: -moz-linear-gradient(to right, rgb(35,35,35), rgb(50,50,50));
	z-index: 10;
}
.menuOpen {
	position: absolute;
	margin: 5px 0 0 5px;
	padding: 5px;
	border-radius: 20%;
	background: rgb(204,204,204);
	height: 50px;
	width: 50px;
	display: none;
	z-index: 15;
}
/*Inactive toolbar on desktop mode section*/
.inactive {
	background: rgb(200,200,200);
	margin: 5px 0 0 5px;
	padding: 5px;
	border-radius: 20%;
	height: 33px;
	width: 33px;
	display: none;
}
/*Tools*/
#toolsMenu {
	width: 100%;
	display: flex;
	flex-wrap:wrap;
}
.toolsDropdown {
	width: 100%;
	padding-top: 10px;
	display: flex;
	flex-wrap:wrap;
}
.toolButton {
	background: rgb(200,200,200);
	margin: 2px;
	padding: 5px;
	border-radius: 20%;
	height: 33px;
	width: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toolButton:hover {
	background: rgba(255,255,255,1);
	transition: all 0.2s;
}
.toolButton:active {
	background: rgba(255,255,255,1);
}
.active {
	background: rgba(255,255,255,1);
	border: 1px solid rgb(0,191,255);
}
/*Filter tools styles*/
.filtersDropdown {
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
/*-------------------Canvas styles-------------------*/
canvas {
	position: absolute;
}
#canvasContainer {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	-webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	touch-action: none;
	-ms-touch-action:none;
	-webkit-touch-action:none;
}

  .btn-collapsible {
	overflow: hidden;
	transition: all 1s ease-in-out;
	max-width: 50px;
  }

  .span:focus {
	transition: all 1s ease-in-out;
	max-width: 50px;
	color:red;
  }

	.btn-collapsible:hover {
		overflow: visible;
		transition: all 1s ease-in-out;
		max-width: 300px;
		
	
	}

	span {
	  opacity: 0;
	  text-indent: -6px;
	  display: inline-block;
	  transition: all 500ms ease-in-out;
	}

	
	span:hover {
	  opacity: 100;
	  max-width: 300px;
	  transition: all 500ms ease-in-out;
	  text-indent: 0;
	  color: black;
	  border-radius: 15px 50px;
	}

	a {
		opacity: 100;
		max-width: 300px;
		transition: all 500ms ease-in-out;
		text-indent: 0;
		color:red;
	  }




/* Sidebar 1 starts */

.sidebar {
	position: absolute;
	top: 0;
	left: -50px;
	background: transparent;
	width: 50px;
	height: 100%;
	transition: .3s;
	z-index: 3;

	
}

.sidebarBtn	{
	position: absolute;
	top: 30px;
	right: -50px;
	width: 60px;
	height: 200px;
	box-sizing: border-box;
	cursor: pointer;
	background: pink;
	border: none;
	outline: none;
	opacity: 1;
	border-radius: 15px 15px;
	box-shadow: 2px 2px 5px grey;
}


.sidebarBtn span {
	display: block;
	width: 35px;
	height: 3px;
	background: orange;
	position: absolute;
	top: 12px;
	transition: .3s;
}

.sidebarBtn span:before {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: black;
	transition: .3s;
}

.sidebarBtn span:after {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: black;
	transition: .2s;
}

.sidebarBtn.toggle span {
	background: transparent;
}

.sidebarBtn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}

.btnActive {
	left: 0;
}

/* Sidebar 1 ends */

/* Sidebar 2 starts */

.sidebar2 {
	position: absolute;
	top: 200px;
	left: -50px;
	background: transparent;
	width: 50px;
	height: 100%;
	transition: .3s;
	z-index: 2;

	
}

.sidebarBtn2	{
	position: relative;
	top: 60px;
	right: -50px;
	width: 60px;
	height: 200px;
	box-sizing: border-box;
	cursor: pointer;
	background:orange;
	border: none;
	outline: none;
	opacity: 1;
	border-radius: 15px 15px;
	box-shadow: 2px 2px 5px grey;
}


.sidebarBtn2 span {
	display: block;
	width: 35px;
	height: 3px;
	background: orange;
	position: absolute;
	top: 24px;
	transition: .3s;
}

.sidebarBtn2 span:before {
	content: '';
	position: absolute;
	top: -0px;
	left: 0;
	width: 100%;
	height: 3px;
	background: gold;
	transition: .2s;
}

.sidebarBtn2 span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: gold;
	transition: .2s;
}

.btnActive2 {
	left: 50px;
}

/* Sidebar 2 ends */

/* Sidebar 3 starts */

.sidebar3 {
	position: fixed;
	top: 400px;
	left: -50px;
	background: transparent;
	width: 50px;
	height: 300px;
	align-self: center;
	transition: .5s;
}

.sidebarBtn3	{
	position: relative;
	top: 100px;
	right: -50px;
	width: 60px;
	height: 200px;
	box-sizing: border-box;
	cursor: pointer;
	background: red;
	border: none;
	outline: none;
	opacity: 1;
	border-radius: 15px 15px;
	box-shadow: 2px 2px 5px grey;
}


.sidebarBtn3 span {
	display: block;
	width: 35px;
	height: 3px;
	background: orange;
	position: absolute;
	top: 24px;
	transition: .3s;
}

.sidebarBtn3 span:before {
	content: '';
	position: absolute;
	top: -0px;
	left: 0;
	width: 100%;
	height: 3px;
	background: gold;
	transition: .2s;
}

.sidebarBtn3 span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: gold;
	transition: .2s;
}

.btnActive3 {
	left: 100px;
}

/* Sidebar 3 ends */